/*
Reglas
Selectores
Declaraciones
Propiedades
Valores
*/

/*Selector de etiqueta
body {}
*/

/*Selector descendente
body header div nav ol li a {}
*/

/*Selector de clase y id
.link {}
#contacto {}
 */

header {
    background: pink;
    color: red;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}